body {
  background-color: #f5f9f6;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.card {
  width: 100%;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card-header {
  background-color: #9AA97F;
  color: white;
  border-radius: 20px 20px 0 0;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 15px;
}

.form-label {
  font-weight: 500;
  color:  #9AA97F;
}

.btn-success {
  background-color: #9AA97F;
  border: none;
  font-weight: 500;
  transition: 0.3s;
}

.btn-success:hover {
  background-color:  #9AA97F;
  transform: scale(1.02);
}

/* Espaço do vídeo */
.video-placeholder {
  background-color: #eaf3ea;
  border: 2px dashed  #9AA97F;
  border-radius: 15px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:  #9AA97F;
  font-weight: 500;
  font-size: 1.1rem;
}
