.card_cadastro {
    background-color: #9AA97F;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    height: 80vh;
}

.lado-formulario {
    margin: 20px;
}

.btn {
    background-color: black;
}