.navegar{
  background-color: #F2B544;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Barra superior */
.topbar {
  background-color: #8e9f77;
  padding: 10px 30px;
}

.topbar .nav-link {
  color: white;
  font-weight: 500;
  margin-right: 20px;
}

.topbar .nav-link.active {
  color: #004d66;
  font-weight: 700;
}

/* Seção principal */
.main-section-envio {
  background-color: #8e9f77;
  border-radius: 10px;
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

.form-box-envio {
  background: white;
  border-radius: 10px;
  max-width: 900px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Botão */
.btn-dark-envio {
  font-weight: bold;
}

/* Imagem lateral */
.img-box-envio {
  background: #e8a533;
  border-radius: 15px;
}

.footer_cor {
  background-color: #9AA97F;
}

/* Título */
.titulo {
  color: #7b2c21;
  font-family: 'Georgia', serif;
  font-weight: bold;
  margin-top: 30px;
}
