body {
    background-color: white;
}

.navbar-custom {
    background-color: #f2b63d;
}

.navbar-custom .nav-link {
    color: white !important;
    font-weight: 500;
}

.navbar-custom .nav-link.active {
    color: #004aad !important;
    font-weight: 600;
}

.content-container {
    background-color: #8c9c7d;
    border-radius: 10px;
    padding: 40px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.product-title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-top: 15px;
}

.price {
    font-size: 1.5rem;
    color: #007b9f;
    text-align: center;
    margin-bottom: 15px;
}

.btn-custom {
    display: block;
    margin: 0 auto;
    background-color: #007b9f;
    color: white;
    border-radius: 20px;
    padding: 8px 25px;
    font-weight: 500;
}

.btn-custom:hover {
    background-color: #005f7a;
    color: white;
}

.section-title {
    color: #7a2e2e;
    font-style: italic;
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 20px;
}
