{% extends 'base.html' %}

{% block conteudo %}


<!-- Área principal -->
<div class="container-fluid main-section py-5">
    <div class="container form-box p-4">
        <div class="row align-items-center">
            <!-- Formulário -->
            <div class="col-md-8">
                <form action="{{ url_for('atualizar_movimentacao', id=movimentacao.ID_movimentacao)}}">
                    <div class="mb-3">
                        <label class="form-label">Nova quantidade</label>
                        <input type="text" class="form-control" placeholder="Nova quantidade" value=" {{ movimentacao.quantidade }}">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Nova data</label>
                        <input type="text" class="form-control" placeholder="Nova data" value=" {{ movimentacao.data }}">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Novo status</label>
                        <input type="text" class="form-control" placeholder="Novo status" value=" {{ movimentacao.status }}">
                    </div>

                    <button type="submit" class="btn btn-dark w-100">Atualizar</button>
                </form>
            </div>

            </div>
        </div>
    </div>


{% endblock conteudo %}