{% extends 'base.html' %}

{% block conteudo %}

<div class="d-flex flex-row">
    <div class="w-100">
        <div class="card_cadastro">
            <form class="form">
                <div class="form-row">
                    <div class="mb-3 m-3 fonte">
                        <label for="nome">Novo nome</label>
                        <input id="nome" type="text" class="form-control is-invalid" placeholder="Novo nome" value="{{usuario.nome}}"
                               required>
                    </div>
                    <div class="mb-3 m-3 fonte">
                        <label for="email">Novo email</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend3">@</span>
                            </div>
                            <input id="email" type="text" class="form-control is-invalid" placeholder="Novo email"  value="{{usuario.email}}"
                                   aria-describedby="inputGroupPrepend3" required>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="mb-3 m-3 fonte">
                        <label for="cpf">Novo CPF</label>
                        <input id="cpf" type="text" class="form-control is-invalid" placeholder="Novo CPF"  value="{{usuario.CPF}}" required>
                    </div>
                    <div class="mb-3 m-3 fonte">
                        <label for="senha">Nova senha</label>
                        <input id="senha" type="text" class="form-control is-invalid" placeholder="Nova senha"  value="{{usuario.senha}}" required>
                    </div>m
                </div>
                <div class="form-group">
                    <div class="form-check m-3 fonte">
                        <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
                        <label class="form-check-label" for="invalidCheck3">
                            Concordo com os termos e condições
                        </label>
                    </div>
                </div>
                <button class="btn btn-dark m-3 botao fonte" type="submit">Salvar</button>
                <div class="btn btn-dark botao-contato text-light" onmousedown="limpaInput()">Limpar</div>
            </form>
        </div>
    </div>

    <div class="w-100">
        <img src="static/img_cadastrocliente.svg">
    </div>
</div>


{% endblock conteudo %}