{% extends 'base.html' %}

{% block conteudo %}

 <!-- ===== Pesquisa ===== -->
<section id="pesquisa-section" class="py-4 text-center">
  <div class="container">
    <div class="input-group w-100 mx-auto">
      <div class="input-group w-75 mx-auto">
        <span class="input-group-text bg-danger text-white"><i class="bi bi-search"></i></span>
        <label>
          <input type="text" class="form-control flex-grow-1" placeholder="Pesquisar Vídeo">
        </label>
      </div>
    </div>
  </div>
</section>

  <!-- ===== Cards de Vídeos ===== -->
  <section class="container pb-5" id="videos-section">
    <div class="row g-4">

      <!-- Card 1 -->
        <div class="col-md-4">
          <div class="card">
            <div class="ratio ratio-16x9">
              <iframe src="https://www.youtube.com/embed/ah4G0gQiIu8"
                title="YouTube video player"
                allowfullscreen>
              </iframe>
            </div>
            <div class="card-body">
              <h6 class="card-title">A vida nas últimas aldeias indígenas de São Paulo - 00:10:03</h6>
            </div>
            <div class="card-footer d-flex justify-content-between">
              <label class="favorite">
                  <input type="checkbox">
                  <i class="bi bi-heart"></i>
                  <i class="bi bi-heart-fill"></i>
              </label>
              <button class="btn btn-sm btn-outline-secondary btn-comentario"><i class="bi bi-chat"></i></button>
            </div>
          </div>
        </div>

      <!-- Card 2 -->
        <div class="col-md-4">
          <div class="card">
            <div class="ratio ratio-16x9">
              <iframe src="https://www.youtube.com/embed/HmQ1JAgwTmw"
                title="YouTube video player" allowfullscreen></iframe>
            </div>
            <div class="card-body">
              <h6 class="card-title">SOBREVIVI: 24 HORAS NA FLORESTA COM INDÍGENAS! - 00:12:59</h6>
            </div>
            <div class="card-footer d-flex justify-content-between">
              <label class="favorite">
                  <input type="checkbox">
                  <i class="bi bi-heart"></i>
                  <i class="bi bi-heart-fill"></i>
              </label>
              <button class="btn btn-sm btn-outline-secondary btn-comentario"><i class="bi bi-chat"></i></button>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-4">
          <div class="card">
            <div class="ratio ratio-16x9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/OMwkpxv3gJc?si=envAxr34sFWc4bia" title="YouTube video player" frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                          picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                          allowfullscreen>
              </iframe>
            </div>
            <div class="card-body">
              <h6 class="card-title">A vida na roça na aldeia/Um pouco sobre o nosso cotidiano - 00:22:15</h6>
            </div>
            <div class="card-footer d-flex justify-content-between">
              <label class="favorite">
                  <input type="checkbox">
                  <i class="bi bi-heart"></i>
                  <i class="bi bi-heart-fill"></i>
              </label>
              <button class="btn btn-sm btn-outline-secondary btn-comentario"><i class="bi bi-chat"></i></button>
            </div>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="col-md-4">
          <div class="card">
            <div class="ratio ratio-16x9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/31CS7C7VT70?si=3je-9A0o7RKqrio1" title="YouTube video player"
                          frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                          gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                          allowfullscreen>
              </iframe>
            </div>
            <div class="card-body">
              <h6 class="card-title">VISITANDO A MAIOR ALDEIA INDÍGENA DO BRASIL - 00:35:43</h6>
            </div>
            <div class="card-footer d-flex justify-content-between">
              <label class="favorite">
                  <input type="checkbox">
                  <i class="bi bi-heart"></i>
                  <i class="bi bi-heart-fill"></i>
              </label>
              <button class="btn btn-sm btn-outline-secondary btn-comentario"><i class="bi bi-chat"></i></button>
            </div>
          </div>
        </div>

         <!-- Card 5 -->
        <div class="col-md-4">
          <div class="card">
            <div class="ratio ratio-16x9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/Fxi0X6DPj30?si=uy9dpta3ylu67xle" title="YouTube video player"
                          frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                          encrypted-media; gyroscope; picture-in-picture; web-share"
                          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
              </iframe>
            </div>
            <div class="card-body">
              <h6 class="card-title">Aldeia indígena da Amazônia recebe turistas e mostra seus costumes - 00:07:50</h6>
            </div>
            <div class="card-footer d-flex justify-content-between">
              <label class="favorite">
                  <input type="checkbox">
                  <i class="bi bi-heart"></i>
                  <i class="bi bi-heart-fill"></i>
              </label>
              <button class="btn btn-sm btn-outline-secondary btn-comentario"><i class="bi bi-chat"></i></button>
            </div>
          </div>
        </div>

         <!-- Card 6 -->
        <div class="col-md-4">
          <div class="card">
            <div class="ratio ratio-16x9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/_r-HfrY89Tk?si=n1EUKBovXpor5mTl" title="YouTube video player"
                          frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                           gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                          allowfullscreen>
              </iframe>
            </div>
            <div class="card-body">
              <h6 class="card-title">Prepare comigo, comida indígena na panela de barro - 00:06:42</h6>
            </div>
            <div class="card-footer d-flex justify-content-between">
              <label class="favorite">
                  <input type="checkbox">
                  <i class="bi bi-heart"></i>
                  <i class="bi bi-heart-fill"></i>
              </label>
              <button class="btn btn-sm btn-outline-secondary btn-comentario"><i class="bi bi-chat"></i></button>
            </div>
          </div>
        </div>

    </div>
  </section>

<!-- ===== Tela de Comentários (escondida) ===== -->
<section id="comentarios" class="d-none">
  <div class="content-card">
    <div class="video-wrapper">
      <iframe class="video-player"
        src=""
        title="Comentário Vídeo"
        allowfullscreen>
      </iframe>
    </div>
    <div class="comment-wrapper">
      <h2>Deixe seu comentário</h2>
      <form>
          <label>
              <input type="text" placeholder="Seu nome">
          </label>
          <label>
              <textarea placeholder="Escreva seu comentário..."></textarea>
          </label>
          <button type="submit">Enviar</button>
      </form>
      <button class="btn-voltar">⬅ Voltar</button>
    </div>
  </div>
</section>

{% endblock conteudo %}