{% extends 'base.html' %}

{% block conteudo %}

<!-- Conteúdo principal -->
<section class="container-fluid conteudo">
    <div class="row justify-content-center align-items-center m-5">
        <div class="col-md-5 text-center">
            <h2 class="titulo">Cadastre seu cartão</h2>

            <div class="form-box mx-auto mt-4 p-4">
                <form>
                    <div class="mb-3">
                        <label class="form-label">Nome do titular</label>
                        <label>
                            <input type="text" class="form-control" placeholder="Nome do titular">
                        </label>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Número do cartão</label>
                        <label>
                            <input type="text" class="form-control" placeholder="Número do cartão">
                        </label>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Data de validade</label>
                        <label>
                            <input type="text" class="form-control" placeholder="Data de validade">
                        </label>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">CVV</label>
                        <label>
                            <input type="text" class="form-control" placeholder="CVV">
                        </label>
                    </div>

                    <button type="submit" class="btn btn-dark w-100">Salvar</button>
                </form>
            </div>
        </div>

        <div class="col-md-5 text-center">
            <img src="/imagem/img_cartao_de_credito.svg" alt="Cartões" class="img-fluid cartoes">
        </div>
    </div>
</section>

{% endblock conteudo %}
