{% extends 'base.html' %}

{% block conteudo %}

<!-- Área principal -->
<div class="container-fluid main-section py-5">
    <div class="container form-box p-4">
        <div class="row align-items-center">
            <!-- Formulário -->
            <div class="col-md-8">
                <form action ="{{ url_for('cadastrar_usuario')}}" method="post">
                    <div class="mb-3">
                        <label class="form-label">Nome</label>
                        <input type="text" class="form-control" placeholder="Nome" name="nome">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="text" class="form-control" placeholder="Email" name="email">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">CPF</label>
                        <input type="text" class="form-control" placeholder="CPF" name="cpf">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Senha</label>
                        <input type="text" class="form-control" placeholder="Senha" name="senha">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Papel</label>
                        <input type="text" class="form-control" placeholder="Papel" name="papel">
                    </div>

<!--                    <div class="mb-3">-->
<!--                        <label class="form-label">Confirmar senha</label>-->
<!--                        <input type="text" class="form-control" placeholder="Confirmar senha">-->
<!--                    </div>-->

<!--                    <div class="mb-3">-->
<!--                        <label class="form-label">Concordo com os termos e condições</label>-->
<!--                        <input type="checkbox" class="form-control" placeholder="Confirmar senha">-->
<!--                    </div>-->

                    <button type="submit" class="btn btn-dark w-100">Salvar</button>
                </form>
            </div>

            <!-- Imagem lateral -->
            <div class="col-md-4 text-center">
                <div class="img-box p-2">
                    <img src="/static/img_cadastro_cliente.png"
                         class="img-fluid rounded" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock conteudo %}