{% extends 'base.html' %}

{% block conteudo %}

<!-- Área principal -->
<div class="container-fluid main-section py-5">
    <div class="container form-box p-4">
        <div class="row align-items-center">
            <!-- Formulário -->
            <div class="col-md-8">
                <form action ="{{ url_for('cadastro_produto')}}" method="post">
                    <div class="mb-3">
                        <label class="form-label">Nome</label>
                        <label>
                            <input type="text" class="form-control" placeholder="Nome" name="nome">
                        </label>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Preço</label>
                        <label>
                            <input type="text" class="form-control" placeholder="Preço" name="preco">
                        </label>
                    </div>

                    <div class="mb-3 form-check">
                        <label>
                            <input type="checkbox" class="form-check-input" checked name="categoria">
                        </label>
                        <label class="form-check-label">Categoria<br><small>Cocar</small></label>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Descrição</label>
                        <label>
                            <input type="text" class="form-control" placeholder="Descrição" name="descricao">
                        </label>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Fabricante</label>
                        <label>
                            <input type="text" class="form-control" placeholder="Fabricante" name="fabricante">
                        </label>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Dimensão</label>
                        <label>
                            <input type="text" class="form-control" placeholder="Dimensão" name="dimensao">
                        </label>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Peso</label>
                        <label>
                            <input type="text" class="form-control" placeholder="Peso" name="peso">
                        </label>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Cor</label>
                        <label>
                            <input type="text" class="form-control" placeholder="Cor" name="cor">
                        </label>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Uso</label>
                        <label>
                            <input type="text" class="form-control" placeholder="Uso" name="uso">
                        </label>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Parte utilizada</label>
                        <label>
                            <input type="text" class="form-control" placeholder="parte utilizada" name="parte_utilizada">
                        </label>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Imagem URL</label>
                        <label>
                            <input type="text" class="form-control" placeholder="Imagem URL" name="imagem">
                        </label>
                    </div>

                    <button type="submit" class="btn btn-dark w-100">Cadastrar</button>
                </form>
            </div>

            <!-- Imagem lateral -->
            <div class="col-md-4 text-center">
                <div class="img-box p-2">
                    <img src="/imagem/img_cadastro_produtos.png"
                         class="img-fluid rounded" alt="Cocar indígena">
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock conteudo %}