{% extends 'base.html' %}

{% block conteudo %}

<!-- Área principal -->
<div class="container-fluid main-section py-5">
    <div class="container form-box p-4">
        <div class="row align-items-center">
            <!-- Formulário -->
            <div class="col-md-8">
                <form>
                    <div class="mb-3">
                        <label class="form-label">Nome</label>
                        <input type="text" class="form-control" placeholder="Nome">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Preço</label>
                        <input type="text" class="form-control" placeholder="Preço">
                    </div>

                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" checked>
                        <label class="form-check-label">Categoria<br><small>Cocar</small></label>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Descrição</label>
                        <input type="text" class="form-control" placeholder="Descrição">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Fabricante</label>
                        <input type="text" class="form-control" placeholder="Fabricante">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Dimensão</label>
                        <input type="text" class="form-control" placeholder="Dimensão">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Peso</label>
                        <input type="text" class="form-control" placeholder="Peso">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Cor</label>
                        <input type="text" class="form-control" placeholder="Cor">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Uso</label>
                        <input type="text" class="form-control" placeholder="so">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Parte utilizada</label>
                        <input type="text" class="form-control" placeholder="Parte utilizada">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Forma de uso</label>
                        <input type="text" class="form-control" placeholder="Forma de uso">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Imagem URL</label>
                        <label>
                            <input type="text" class="form-control" placeholder="Imagem URL">
                        </label>
                    </div>


                    <button type="submit" class="btn btn-dark w-100">Cadastrar</button>
                </form>
            </div>

            <!-- Imagem lateral -->
            <div class="col-md-4 text-center">
                <div class="img-box p-2">
                    <img src="/imagem/img_cadastro_medicinais.png"
                         class="img-fluid rounded" alt="Medicinal">
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock conteudo %}