{% extends 'base.html' %}
{% block conteudo %}

<h2 class="mb-4">🛒 Seu Carrinho</h2>

<ul class="list-group mb-3">
    {% for item in carrinho %}
    <li class="list-group-item d-flex justify-content-between">
        <div>
            <strong>{{ item.nome }}</strong><br>
            R$ {{ "%.2f"|format(item.preco) }}
        </div>

        <a href="/carrinho/remover/{{ loop.index0 }}" class="btn btn-sm btn-danger">
            Remover
        </a>
    </li>
    {% endfor %}
</ul>

<div class="d-flex justify-content-between">
    <strong>Total:</strong>
    <strong class="text-success">R$ {{ "%.2f"|format(total) }}</strong>
</div>

<a href="/finalizar" class="btn btn-primary w-100 mt-3">Finalizar Compra</a>

{% endblock %}
