<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raízes do Brasil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/detalhes_medicinais.css">
</head>
<body>

<!-- Modelo de Navbar --> <!-- d-flex = display flex = posição  flex-row = linha-->
<nav class="navegar navbar d-flex flex-row">
    <div class="d-flex flex-row">
        <i class="icon bi bi-list"></i>
        <ul class="navbar-nav d-flex flex-row">
            <!--nav-item: item da lista da barra de navegação  nav-link active: transforma os itens em links-->
            <li class="nav-item m-2"><a class="nav-link titulo text-white" href="pagina_inicial.html">Página Inicial</a></li>
            <li class="nav-item m-2"><a class="nav-link titulo text-white" href="login.html">Login</a></li>
            <li class="nav-item m-2"><a class="nav-link titulo text-white" href="cadastros.html">Cadastros</a></li>
            <li class="nav-item m-2"><a class="nav-link titulo text-white" href="loja.html">Loja</a></li>
            <li class="nav-item m-2"><a class="nav-link titulo text-white" href="medicinais.html">Medicinais</a></li>
            <li class="nav-item m-2"><a class="nav-link titulo text-white" href="blog.html">Blog</a></li>
        </ul>
    </div>
    <div>
        <i class="icon bi bi-cart"></i>
        <a class="navbar-brand ps-3"><img src="/imagem/logo.svg"
                                          width="70px" alt=""></a>
        <div class="d-flex flex-row">

        </div>
    </div>
</nav>

</body>
<body>
<div class="container">
    <div class="imagem-produto">
        <img src="/imagem/img_detalhes_medicinais.svg" alt="Imagem do produto Mani Hushĩ Rau">
    </div>
    <div class="detalhes-produto">
        <h2 class="categoria">Medicinais - Plantas</h2>
        <div class="caixa-info">
            <label>Descrição</label>
            <p class="descricao">
                Remédio indígena usado para tratar tosse persistente, bronquite e infecções pulmonares.
                Ferva 1 pedaço da casca seca em 1 litro de água por 15 minutos. Apenas 2 vezes por dia,
                uso contínuo com orientações da caixa.
            </p>

            <label>
                Peso
                <input type="text" value="2 mg x 50 kg = 100 mg do medicamento" readonly>
            </label>
            <label>Fabricante
                <input type="text" value="Jaci e Ubirajara" readonly>
            </label>

            <button class="botao">Adicionar ao carrinho</button>

            <div class="info-preco">
                <h1>Mani Hushĩ Rau</h1>
                <p class="preco">R$ 165,00</p>

            </div>
        </div>
    </div>
</div>

</body>


<!-- Rodapé -->
<footer class="footer text-center footer_cor">
    <a class="text-light" href="https://www.whatsapp.com/?lang=pt_BR"><i class="meu-icone bi bi-whatsapp"></i></a>
    <a class="text-light" href="https://www.instagram.com/"><i class="meu-icone bi bi-instagram"></i></a>
    <a class="text-light" href="https://www.facebook.com/?locale=pt_BR"><i class="meu-icone bi bi-facebook"></i></a>
    <p class="text-light">&copy; 2025 - Raízes do Brasil. Todos os direitos reservados.</p>
</footer>
</body>
</html>