{% extends 'base.html' %}

{% block conteudo %}

<div class="cards row justify-content-around">
    {% for usuario in usuarios %}

    <div class="align-items-center card col-3 m-4">
        <h5 class="titulo">{{ usuario.nome }}</h5>
        <h5 class="titulo">{{ usuario.cpf }}</h5>
        <h5 class="titulo">{{ usuario.email }}</h5>
        <h5 class="titulo">{{ usuario.password_hash }}</h5>
        <h5 class="titulo">{{ usuario.papel }}</h5>
        <a href="{{ url_for('atualizar_cadastro_clientes',id=blog.id_blog)}}"> EDITAR</a>
    </div>
    {% endfor %}

</div>

{% endblock conteudo %}

