{% extends 'base.html' %}

{% block conteudo %}

<h5>Blog</h5>
<div class="cards row justify-content-around">
    {% for blog in blogs %}

    <div class="align-items-center card col-3 m-4">
        <h5 class="titulo">{{ blog.usuario_id}}</h5>
        <h5 class="titulo">{{ blog.titulo}}</h5>
        <h5 class="titulo">{{ blog.comentario}}</h5>
        <h5 class="titulo">{{ blog.data}}</h5>
        <a href="{{ url_for('atualizar_cadastro_blog',id=blog.id_blog)}}"> EDITAR</a>
    </div>
    {% endfor %}

</div>


{% endblock conteudo %}