{% extends 'base.html' %}

{% block conteudo %}

<h5>Movimentacoes</h5>
<div class="cards row justify-content-around">
    {% for movimentacao in movimentacoes %}

    <div class="align-items-center card col-3 m-4">
        <h5 class="titulo">{{ movimentacao.usuario_id}}</h5>
        <h5 class="titulo">{{ movimentacao.quantidade }}</h5>
        <h5 class="titulo">{{ movimentacao.produto_id }}</h5>
        <h5 class="titulo">{{ movimentacao.data }}</h5>
        <h5 class="titulo">{{ movimentacao.status }}</h5>
        <a href="{{ url_for('atualizar_movimentacao',id=movimentacao.ID_movimentacao)}}"> EDITAR</a>
    </div>
    {% endfor %}

</div>

{% endblock conteudo %}