{% extends 'base.html' %}

{% block conteudo %}

<!-- Conteúdo principal -->
<main class="login-container d-flex flex-column flex-md-row align-items-center justify-content-center py-5">
  <div class="imagem-login text-center mb-4 mb-md-0 me-md-5">
    <img src="/static/imgpaglogin.svg" alt="Imagem ilustrativa de login" class="img-fluid imagem-ajustada">
  </div>

  <div class="login-card shadow-lg p-4 rounded-4 text-center">
    <h2 class="titulo-login mb-4">Bem-vindo(a) 🌿</h2>
    <form action="{{url_for('login')}}" method="POST">


      <div class="mb-3 text-start">
        <label for="email" class="form-label fw-semibold">Email</label>
        <input id="email" type="text" name="email" class="form-control" placeholder="Digite seu Email" required>
      </div>

      <div class="mb-3 text-start">
        <label for="senha" class="form-label fw-semibold">Senha</label>
        <input id="senha" type="password" name="senha" class="form-control" placeholder="Digite sua senha" required>
      </div>

      <div class="form-check text-start mb-3">
        <input class="form-check-input" type="checkbox" id="termos" required>
        <label class="form-check-label" for="termos">Concordo com os termos e condições</label>
      </div>

      <button class="btn-login w-100 py-2 fw-semibold" type="submit">Entrar</button>
    </form>
  </div>
</main>

{% endblock conteudo %}