{% extends 'base.html' %}

{% block conteudo %}

<!-- Conteúdo principal -->
<main class="conteudo-inicial d-flex justify-content-center align-items-center flex-grow-1">
  <div class="card card-inicial text-center shadow-lg d-flex flex-column flex-md-row align-items-center p-4">
    <div class="texto-inicial me-md-4">
      <h1 class="titulo2">Bem-vindo(a)</h1>
      <p class="texto">
        Nossa missão é promover a valorização da cultura indígena, integrando tradições e recursos tecnológicos
        para o desenvolvimento sustentável e fortalecimento da identidade dos povos originários.
      </p>
    </div>
    <div class="imagem-inicial">
      <img src="/static/img_inicial.svg" alt="Cultura indígena" class="img-fluid imagem-ajustada">
    </div>
  </div>
</main>

{% endblock conteudo %}